body {    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans;    
}

body > div:first-child {
    display: flex;
    justify-content: center;
    border-top: solid 3pt steelblue;    
    background-color: whitesmoke;
    box-shadow: 0 0 4px gray;
    margin-bottom: 15px;    
    height: 3em;
}

body > div:nth-child(3) {
    color: white;
    background-color: slategrey;
}

header {
    margin: 0;  
    flex-grow: 1;
    max-width: 900px;
    display: flex;
    align-items: center;
}
header > nav {
    display: flex;
    flex-grow: 1;
    height: 100%;
}
header > nav > ul {
    display: none;
}
.burguer {
    display: flex; 
    align-items: center; 
    padding: 0 1em;
    cursor: pointer;
    height: 100%;
}
.burguer:hover {
    background-color: rgba(255, 255, 255, 0.75);
}
@media screen and (min-width: 900px) {
    header > nav > ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;
    }    
    header > nav > ul > li {    
        display: flex;
        align-items: center;
        height: 100%;        
    }
    header > nav > ul > li > a {
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgba(17, 24, 39, 1);
        padding: 0 2em;
    }
    header > nav > ul > li > a:hover {
        background-color: rgba(255, 255, 255, 0.75);    
    }
    .burguer {
        display: none;
    }
}

main {    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 900px;
    margin-bottom: 3em;
}

@media screen and (min-width: 900px) {
    main {
        flex-direction: row;
    }   
}
footer {    
    margin: auto;
    padding: 2em;
}