<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="/assets/normalize.css">
        <link rel="stylesheet" href="/assets/estilo.css">
        <link rel="stylesheet" href="/assets/blog.css">
    </head>
    <body>
        <div>
            <div style="max-width: 900px; margin: auto; flex-grow: 1;">
                {% include "topbar.html" %}            
            </div>
        </div>
        <div style="flex-grow: 1; display: flex;">
            <main style="max-width: 900px;">
                {% block content %}
                    {{ page.content }}
                {% endblock %}
            </main>
        </div>
        <div>
            <footer style="max-width: 900px;">
                @ elfcorreia blog
            </footer>
        </div>
    </body>
</html>
